#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_MAKE_INSTALL_TARGET := install DESTDIR=$(CURDIR)/debian/tmp prefix=/usr
DEB_MAKE_CLEAN_TARGET := clean
DEB_COMPRESS_EXCLUDE := .pdf
DEB_DH_INSTALL_SOURCEDIR := debian/tmp

